<script>  
   var socket = io.connect('http://localhost:3002');
   socket.on('{{{mqttId}}}-statut-channel', function(datas) {
            let t = JSON.parse(datas);
            $("#badge-{{{mqttId}}}").text(t['badge']);
            $("#message-{{{mqttId}}}").text(t['message']);
    });
    socket.on('{{{mqttId}}}', function(datas) {
        let parsedDatas = JSON.parse(datas);
        for(let j in parsedDatas['datas']){
          $('#li-'+j).text(function(i,oldtext){
                return parsedDatas['datas'][j] +' ' + oldtext.replace(/^.+\s/gi, '');
          });
          $("#badge-{{{mqttId}}}").attr('uk-tooltip','title:Dernières données reçues le : '+new Date()+'; pos: right');
        }
    });
</script>
<script>
    $(document).ready(function(){
        $(".command-button").click(function(e){
            $(e.target).attr('disabled', '');
            var formData = {
                mqttId :  '{{{mqttId}}}',
                command : $(e.target).attr("command")
    	    };
            $.ajax({
                type : "POST",
                contentType : "application/json",
                url : window.location + "envoyerCommande",
                data : JSON.stringify(formData),
                dataType : 'json'
		    }); 
        });
    });
</script>
<div>   
    <div class="uk-card uk-card-small uk-card-default uk-card-body uk-width-auto@m">
        <div class="uk-card-badge uk-label" id="badge-{{{mqttId}}}">QUERYING</div>
        <h3 class="uk-card-title" id="title-card">&laquo; {{libelle}} &raquo; <p id="message">(#{{code}})</p></h3>
        <p id="message-{{{mqttId}}}" class="statut-message" style="text-style:italic;font-size:8px;">En attente d'informations ...</p>
        <div >
            <ul uk-tab='connect: #ul-{{{code}}}'>
                {{#each display}}
                    <li class="uk"><a class="uk-tab-root-link" href="">{{libelle}}</a></li>
                {{/each}}
                {{#if commands}}
                    <li class="uk"><a class="uk-tab-root-link" href="">Commandes</a></li>
                {{/if}}
            </ul>
            <ul class="uk-switcher uk-margin" id="ul-{{{code}}}">
                {{#each display}}
                    <li id="li-{{{abreviation}}}"> <span> {{unity}}</span></li>
                {{/each}}
                {{#if commands}}
                    <li> {{#each commands}} <button class="uk-button uk-button-danger command-button {{{disabled}}}" command="{{{command}}}">{{libelle}}</button> {{/each}}</li>
                {{/if}}
            </ul>     
        </div>
    </div> 
</div>